<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>PubHub</display-name>
  <servlet>
    <servlet-name>PublishBookServlet</servlet-name>
    <servlet-class>examples.pubhub.servlets.PublishBookServlet</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>AddAuthorProfileServlet</servlet-name>
    <servlet-class>examples.pubhub.servlets.AddAuthorProfileServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreateTagServlet</servlet-name>
    <servlet-class>examples.pubhub.servlets.CreateTagServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchBookByTagsServlet</servlet-name>
    <servlet-class>examples.pubhub.servlets.SearchBookByTagsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterUserServlet</servlet-name>
    <servlet-class>examples.pubhub.servlets.RegisterUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShoppingCartServlet</servlet-name>
    <servlet-class>examples.pubhub.servlets.ShoppingCartServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateCartItemServlet</servlet-name>
    <servlet-class>examples.pubhub.servlets.UpdateCartItemServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckoutServlet</servlet-name>
    <servlet-class>examples.pubhub.servlets.CheckoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublishBookServlet</servlet-name>
    <url-pattern>/PublishBook</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>AddAuthorProfileServlet</servlet-name>
    <url-pattern>/AddAuthorProfile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateTagServlet</servlet-name>
    <url-pattern>/CreateTag</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchBookByTagsServlet</servlet-name>
    <url-pattern>/SearchBookByTags</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterUserServlet</servlet-name>
    <url-pattern>/RegisterUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShoppingCartServlet</servlet-name>
    <url-pattern>/ShoppingCart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateCartItemServlet</servlet-name>
    <url-pattern>/UpdateCartItem</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckoutServlet</servlet-name>
    <url-pattern>Checkout</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>LogFilter</filter-name>
    <filter-class>examples.pubhub.servlets.LoggingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LogFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/notFoundError.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/error.jsp</location>
  </error-page>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>PubHub</web-resource-name>
      <url-pattern>/*</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>RegularUser</role-name>
      <role-name>Author</role-name>
    </auth-constraint>
  </security-constraint>
 
 
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Unprotected</web-resource-name>
      <url-pattern>/register.jsp</url-pattern>
      <url-pattern>/RegisterUser</url-pattern>
      <url-pattern>/index.jsp</url-pattern>
      <url-pattern>/registrationSuccess.jsp</url-pattern>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>login-required</web-resource-name>
      <url-pattern>/resources/*</url-pattern>
    </web-resource-collection>
  </security-constraint>
  <login-config>
    <auth-method>FORM</auth-method>
    <realm-name>pubhub-jaas-realm</realm-name>
    <form-login-config>
      <form-login-page>/login.jsp</form-login-page>
      <form-error-page>/loginerror.jsp</form-error-page>
    </form-login-config>
  </login-config>
  <security-role>
    <role-name>RegularUser</role-name>
  </security-role>
  <security-role>
    <role-name>Author</role-name>
  </security-role>
</web-app>